.homepage{
  display: inline-block; 
}

.video{
  display: inline-block;
  width: 100px;
  height: 100px;
  width: fit-content;
  height: fit-content;
  margin-top: 15%;
margin-left: auto;
}

.video img {
  width: fit-content;
  height: fit-content;
  max-height: 100vh;
  max-width: 100vh;
}

.glassBox{
  display: inline-block;
  position:absolute;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 5px#b3b3b4;
  margin-left: 1%;
  margin-top: 7%;
  width: 50vw;
  height: 75vh;
  z-index: -1;
}

.heartrate{
  display:block;
  margin: 1%;
  font-size:600%;
  color: rgb(0, 105, 70);
}

.rateinfo{
  position: relative;
  justify-content: center;
  align-items: center;
  display:block;
  margin: 10px;
  top:30%;
  left:40%
}