.camera{
    resize: both;
    display: inline-block;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 51vw;
    height: 90vh;
    border: 5px solid rgb(255, 255, 255);
}

.toggle{
    display: inline-block;
    position: absolute;
    margin-top: 530px;
    margin-left: 590px;
}