.camera{
    resize: both;
    position: relative;
    display: inline-block;
    margin-top: 90px;
    margin-left: 10px;
    margin-right: 51vw;
    height: 90vh;
    border: 5px solid rgb(255, 255, 255);
}

