.header{
  resize: both;
    position:fixed;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height:70px;
    flex-direction: row;
    border-radius: 0.1rem;
    border-bottom: 0.1rem solid rgb(238, 238, 238);
    margin-bottom: 20px;
}

 .header img {
    margin-left: 5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: auto;
    height: auto;
}

.header button {
  display: block;
  float: right;
  margin-left: auto;
  margin-right: 4%;
  height: 30%;
  width: auto;
  background-color:#ffffff;
  border: 1.5px solid #0067b8;
  border-radius: 10px;
  outline: 1px;
  text-align: center;
  overflow: hidden;
  touch-action: manipulation;
  cursor: pointer;
  color: #0067b8;
}

.header button:hover{
  border-color: #0067b8;
  border-radius: 10px;
  outline: 1px;
  color: #0067b8;
  background-color: #ebf0f5;
}


.signIn{
  display: inline-block;
  margin-left: 75%;
  width:15%;
  height: fit-content;
  margin-top: 2%;
  overflow:hidden;
}

.profile
{
  width:30%;
  max-height: 80%;
  margin-left: 55%; 
  overflow: hidden;
  position: relative;
}
.username
{
    overflow: hidden;
    width: 40%;
    text-overflow:ellipsis;
    color: #0067b8;
    white-space: nowrap;
    display:block;
    position: relative;
    top: 50%;
}

.saveData{
  display: inline-block;
  position: relative;
  margin-left: 40%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1.5px solid #0067b8;
  outline: 10px;
  width:35%;
  height: fit-content;
  margin-top: 0%;
  color: #0067b8;
  overflow:hidden;
}

.saveData:hover{
  border-color: #0067b8;
  border-radius: 10px;
  outline: 1px;
  color: #0067b8;
  background-color: #ebf0f5;
}

.popup-box {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

@keyframes test {
  from {opacity: 1;}
  to {opacity: -1;}
}

.box {
  position: relative;
  width: 19%;
  margin: 0 auto;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #0067b8;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  border: 1.5px solid #0067b8;
  overflow: auto;
  z-index: 2;
  animation-name: test;
  animation-duration: 3s;
  animation-delay: 1.5s;
}

.close-icon {
  content: 'X';
  cursor: pointer;
  opacity: 0.5;
  color: #b81500;
  position: fixed;
  right: 522px;
  top: 14px;
  background: rgb(250, 199, 199);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  line-height: 10px;
  text-align: center;
  border: 1px solid #b81500;
  font-size: 12px;
}
