.header{
  resize: both;
    position:fixed;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height:70px;
    flex-direction: row;
    border-radius: 0.1rem;
    border-bottom: 0.1rem solid rgb(238, 238, 238);
    margin-bottom: 20px;
}

 .header img {
    margin-left: 5%;
    margin-top: 6px;
    margin-bottom: 6px;
    width: auto;
    height: auto;
}

 .button{
    background-color: #f8fdff;
    color: #00a1f1;
    margin-top: 35px;
    margin-left: 945px;
    height: 25px;
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
    border-width: 1.2px;
    border-color: #00a1f1;
}
